<header>
    <img src="/global_imagenes/logo.png" alt="Logo" id="frameLogo" />
    <img
        class="perfilUsuario"
        src="/global_imagenes/perfilUsuario.png"
        alt="Perfil de usuario"
        id="framePerfilUsuario"
    />
</header>

<section>
    <div data-layer="Rectangle 20" class="Rectangle20">
        <form id="primerFormulario" [formGroup]="loginForm" (ngSubmit)="guardarFormulario()" novalidate>
            <button type="submit" id="botonGuardar" class="BotN">Guardar</button>
            <button type="button" id="botonCancelar" class="BotN" (click)="cancelar()">Cancelar</button>

            <label for="inputNombreUnico" id="lblNombreUnico" class="miLabelStyle1">
                Usuario
                <span id="errorNombreUnico" class="error">
                    @if (submitted && nombreUnicoControl.invalid) {
                        *
                    }
                </span>
            </label>
            <input
                type="text"
                name="nombreUnico"
                id="inputNombreUnico"
                class="RoundedRectangle TxtStyleCaptura"
                formControlName="nombreUnico"
            />

            <label for="inputCorreoElectronico" id="lblEmail" class="miLabelStyle1">
                E-mail
                <span id="errorCorreoElectronico" class="error">
                    @if (submitted && correoElectronicoControl.invalid) {
                        *
                    }
                </span>
            </label>
            <input
                type="email"
                name="correoElectronico"
                id="inputCorreoElectronico"
                class="RoundedRectangle TxtStyleCaptura"
                formControlName="correoElectronico"
            />

            <label for="inputPassword" id="lblPassword" class="miLabelStyle1">
                Contrasena
                <span id="errorPassword" class="error">
                    @if (submitted && passwordControl.invalid) {
                        *
                    }
                </span>
            </label>
            <input
                type="password"
                name="password"
                id="inputPassword"
                autocomplete="current-password"
                class="RoundedRectangle TxtStyleCaptura"
                formControlName="password"
            />
        </form>
    </div>
</section>

<footer></footer>
