/* -----------------------  Estilos generales -------------------   */
 /* header*/

 header {
     position: relative;
     width: 1440px;
     height: 135px;
     left: 0px;
     top: 3px;
     background: #4E879F;
     border-radius: 30px;
 }

 section {
     position: relative;
     width: 1440px;
     height: 770px;
     left: 0px;
     top: 2px;
     background: #EBEBEB;
     border-radius: 30px;
 }

 footer {
     position: relative;
     width: 1440px;
     height: 107px;
     left: 0px;
     top: 12px;
     background: #4E879F;
     border-radius: 30px;
 }
 /* --------  el punto hace referencia a clases .class  -------------------   */

 .perfilUsuario {
     position: absolute;
     width: 60px;
     height: 62px;
     left: 1317px;
     top: 38px;
 }

 .menuInicial {
     position: absolute;
     width: 634px;
     height: 55px;
     left: 424px;
     top: 45px;
     background: #C4C4C4;
 }


 .error {
    color: #fc0707;
}


 .Componente1Cajacaptura {
    width: 460.24px;
    height: 51.68px;
    left: 83.38px;
    top: 103.35px;
    position: absolute;
}

.RoundedRectangle{

    /* left: 0px;
    top: 0px;
    position: absolute; */

    width: 460.24px;
    height: 51.68px;
    background: #FDF6F6;
    border-radius: 15px;
    border: 1px rgba(0, 0, 0, 0.20) solid;
}

 .miLabelStyle1 {
  color: black;
  font-size: 32px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
 }


 .TxtStyleCaptura{
    color: rgb(34, 6, 246);
    font-size: 32px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
 }


 .Rectangle20{
  width: 627px;
  height: 512px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: rgba(230, 215, 201, 0.5);
 }

 .BotN {

  width: 250.00px;
  height: 100.00px;
  background: linear-gradient(0deg, rgba(23, 7, 246, 0.2) 0%, rgba(21, 248, 4, 0.2) 100%), #2B2CF5;
  border-radius: 47px;
  justify-content: center;
  flex-direction: column;
  word-wrap: break-word;

  /* Estilo_Titulo_Morado */
  font-family: var(--Static-Label-Large-Font, Roboto);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  color: #ffffff;
  line-height: var(--Static-Label-Large-Line-Height, 20px); /* 41.667% */
  letter-spacing: var(--Static-Label-Large-Tracking, 0.1px);
 }

  /* ------  el # "Gatito" hace referencia al Identificador ( id )  -------------------   */

 #lblRegistroDePersonas {
     position: absolute;
     width: 236px;
     height: 32px;
     left: 548px;
     top: 3px;
     font-family: Roboto;
     font-style: normal;
     font-weight: normal;
     font-size: 24px;
     line-height: 28px;
     color: #000000;
 }

 #divFoto{
    position: absolute;
    width: 240px;
    height: 500px;
    left: 42px;
    top: 25px;
   background: url(.jpg), #c4c4c4;
}


 #imgFoto {
     position: relative;
     width: 206px;
     height: 250px;
     left: 20px;
     top: 25px;
     background: url(.jpg), #C4C4C4;
 }


 #lblNombreUnico {
    color: #000000d2;
    width: 277px;
    height: 41px;
    left: 83px;
    top: 60px;
    position: absolute;
   }

 #inputNombreUnico {
    top: 103.35px;
    position: absolute;
     width: 460.24px;
     height: 51.68px;
     left: 83.38px;
     background: #FDF6F6;
     border-radius: 15px;
     border: 1px rgba(0, 0, 0, 0.20) solid;
 }


 #lblEmail {
     color: #000000;
     width: 216px;
     height: 39px;
     left: 85px;
     top: 163px;
     position: absolute;
 }

 #inputCorreoElectronico {
    left: 83.38px;
    top: 204.66px;
    position: absolute;
    width: 460.24px;
    height: 51.68px;
    position: absolute;
    background: #FDF6F6;
    border-radius: 15px;
    border: 1px rgba(0, 0, 0, 0.20) solid;
 }

 #lblPassword {
     color: #000000;
     width: 286px;
     height: 38px;
     left: 83px;
     top: 267px;
     position: absolute;
 }

 #inputPassword {
  left: 85.05px;
  top: 305.30px;
  position: absolute;
  width: 460.24px;
  height: 51.68px;
  position: absolute;
  background: #FDF6F6;
  border-radius: 15px;
  border: 1px rgba(0, 0, 0, 0.20) solid;
 }

 #txtareaDomicilio {
     position: absolute;
     width: 325px;
     height: 81px;
     left: 942px;
     top: 132px;
     border: 1px solid #000000;
     box-sizing: border-box;
 }

 #divMapa {
     position: absolute;
     width: 559px;
     height: 268px;
     left: 813px;
     top: 225px;
     /* background: url(.png); */
 }


 #botonGuardar {
     position: relative;
     left: 50px;
     top: 600px;

 }

 #botonCancelar {
     position: relative;
     left: 100px;
     top: 600px;
 }
