
<!-- todo lo que queremos que vea el usuario , Incluyendo el Esquema de HTML5 : header,nav,Section,aside y footer -->
<!--  El <body> hace falta para el  GoLive  -->
<body> 

<!-- Estos Links no deberian ir aqui .mmm.¿¿???  -->
<link rel="stylesheet" href="./app.css">
<script type="text/typescript" src="./app.ts"></script>
 

<header>
    <img
        src="/global_imagenes/logo.png"
        alt="Logo"
        id="frameLogo"
        />
    <img
        class="perfilUsuario"
        src="/global_imagenes/perfilUsuario.png"
        alt="Perfil de usuario"
        id="framePerfilUsuario"
    />
</header>


<nav class="menuInicial">
   <ul>
      <li><a href="index.html">Inicial</a></li>
      <li><a href="./pagina2/pagina2.html">Pagina2</a></li>
      <li><a href="./OpenLayers_WebMap/mapa.html">Mi Mapa</a></li>
  </ul>
</nav>


<section>
    <div  data-layer="Rectangle 20"
          class="Rectangle20">

        <form id="primerFormulario"
              [formGroup]="loginForm"
              (ngSubmit)="guardarFormulario()"
              novalidate>
            <!-- EL método POST muestra datos en URL , el onsubmit = "return false;"
                 lo puse para que NO redireccione a otra página al presionar el boton guardar -->


          <!-- ESTOS SON LOS BOTONES;  IMPORTANTE EL BOTON DE ENVIAR EL type DEBE SER submit  -->
          <button type="submit"
                  id="botonGuardar"
                  class="BotN">Guardar
            </button>

          <button type="button"
                  id="botonCancelar"
                  class="BotN"
                  (click)="cancelar()">Cancelar
            </button>


            <!-- ESTAS SON LAS ETIQUETAS Y CAJAS DE CAPTURA DE DATOS  -->
            <label for="inputNombreUnico"
                  id="lblNombreUnico"
                  class="miLabelStyle1"
                  >
                Usuario
                <span id="errorNombreUnico"
                      class="error">
                       @if (submitted && nombreUnicoControl.invalid){*}
                </span>
            </label>

            <input
                type="text"
                name="nombreUnico"
                id="inputNombreUnico"
                class="RoundedRectangle TxtStyleCaptura"
                formControlName="nombreUnico"
            />

            <label for="inputCorreoElectronico"
                  id="lblEmail"
                  class="miLabelStyle1">
                E-mail
                <span id="errorCorreoElectronico"
                  class="error">
                    @if (submitted && correoElectronicoControl.invalid) {*}
                </span>
            </label>

            <input
                type="email"
                name="correoElectronico"
                id="inputCorreoElectronico"
                class="RoundedRectangle TxtStyleCaptura"
                formControlName="correoElectronico"
            />

            <label for="inputPassword"
                  id="lblPassword"
                  class="miLabelStyle1">
                Contraseña
                <span id="errorPassword"
                      class="error">
                        @if (submitted && passwordControl.invalid) {*}
                </span>
            </label>

            <input
                type="password"
                name="password"
                id="inputPassword"
                autocomplete="current-password"
                class="RoundedRectangle TxtStyleCaptura"
                formControlName="password"
            />

          </form>
    </div>
</section>

<footer></footer>

</body>